<style>
	a { margin-right: 10px;}
</style>

<h1>{{title}}</h1>
<p>Welcome to {{title}}. Check out the links below to view all current pages.</p>

<h2><a href="/tournaments">List of Tournaments</a></h2>