<div>{{ title }}</div>

<div>Challonge URL</div>
<input id="challonge-url"></input>
<button id="save-challonge-url">Save</button>

<div>Setups</div>
<ul id="setups-list"></ul>
<button id="add-setup">Add Setup</button>

<div><span class="available-match-count">-</span> available matches</div>
<div>Matches</div>
<table>
	<thead>
	    <tr>
	      <th>Match</th>
	      <th>Setup</th>
	    </tr>
	</thead>
	<tbody id="matches-tbody"></tbody>
</table>

<link rel='stylesheet' href='/stylesheets/admin.css' />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/tournament.js"></script>