<div>{{ title }}</div>

<div>Challonge URL</div>
<input id="challonge-url"></input>

<div>Setups</div>
<ul id="setups-list"></ul>

<div>Matches</div>

<link rel='stylesheet' href='/stylesheets/admin.css' />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/admin.js"></script>